<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Curriculum Vitae</title>
</head>
<body>
  <div class="container">
    <div class="row">
      <h2 class="well"><%= @general['first_name'] %> <%= @general['last_name'] %></h2>

      <dl class="dl-horizontal">
        <dt>Fecha de Nacimiento</dt>
        <dd><%= @general['birth_date'] %></dd>
        <dt>Adres zamieszkania</dt>
        <dd><%= @general['address'] %></dd>
        <dt>Telefon</dt>
        <dd><%= @general['phone'] %></dd>
        <dt>E-mail</dt>
        <dd><%= @general['email'] %></dd>

        <% @general['websites'].each do |name, url| %>
          <dt><%= name %></dt>
          <dd><a href="<%= url %>"><%= url %></a></dd>
        <% end %>
      </dl>
    </div>

    <div class="row">
      <h4>Educacion</h4>
      <table class="table">
        <tbody>
          <% @education.each do |edu| %>
            <tr>
              <td><%= edu['name'] %></td>
              <td><%= edu['interval'] %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="row">
      <h4>Experiencia Laboral</h4>
      <table class="table">
        <tbody>
          <% @jobs.each do |job| %>
            <tr>
              <td><%= job['name'] %></td>
              <td><%= job['interval'] %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="row">
      <h4>Proyectos realizados</h4>
      <ul>
      <% @projects.each do |project| %>
        <li><%= project %></li>
      <% end %>
      </ul>
    </div>

    <div class="row">
      <h4>Skills</h4>
      <ul>
      <% @skills.each do |skill| %>
        <li><%= skill %></li>
      <% end %>
      </ul>
    </div>

    <div class="row">
      <h4>Hobbies</h4>
      <ul>
      <% @other_skills.each do |skill| %>
        <li><%= skill %></li>
      <% end %>
      </ul>
    </div>
  </div>
</body>
</html>
